/*Min_Kim_03-09-26_CS111_I put the CSS styles for CS111 and page2 */

/*background color & text color for the whole page*/
body {
    background-color: #1b9b44;
    color: #f2db32;
    margin: 40px;
}

/*heading 1 color and font*/
h1 {
    color: #f2db32;
    font-family: Georgia, "Times New Roman", serif;
}
/*heading 2 and 3 text color*/
h2, h3 {
    color: #f2db32;
}

/* paragraph font size*/
p {
    font-size: 16px;
    line-height: 1.7;
}

/*link color*/
a {
    color: #f2db32;
    text-decoration: none;
}

p {
    font-size: 16px;
    line-height: 1.7;
}

/* Custom formatting: adds an underline and color change when hovering over links */
a:hover {
    color: #ffffff;
    text-decoration: underline;
}
